<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unicorn.Remote.Processor.UnicornRemotePipelineProcessor">
          <param desc="activationUrl">/unicornRemote.aspx</param>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>